<script>
$(function(){
    $('.timepicker').datetimepicker({
        pickDate: false,
        pickSeconds: false
    });   
});

</script>
<%= form_for([@domain, @meeting], remote: true) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> ошибок не позволило создать заседание:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :judge, "Судья" %>
    <%= f.text_area :judge, size:'3x2', class: "input-block-level" %>
  </div>
  <div class="field">
    <%= f.label :client, "Клиент" %>
    <%= f.text_area :client, size:'3x2', class: "input-block-level" %>
  </div>
  <div class="field">
    <%= f.label :content, "Дополнительная информация" %>
    <%= f.text_area :content, size:'3x2', class: "input-block-level" %>
  </div>
  
  <div class="row">
    <div class="span2">
      <%= f.label :will_be_on, "Дата" %>
      <%= f.text_field :will_be_on, class: "input-block-level" %>
    </div>
    <div class="span2 timepicker input-append">
      <%= f.label :will_be_at, "Время" %>
      <%# f.text_field :will_be_at, class: "input-block-level", data: {format: "hh:mm" }%>
        <%= f.time_select :will_be_at, class: "input-block-level" %>
      <span class="add-on">
           <i data-time-icon="icon-time" data-date-icon="icon-calendar">
           </i>
         </span>
    </div>
  </div>

  <% if params[:action]=='edit' %>
    <%= f.submit "Изменить", class: "btn" %>
    <%= link_to 'Просмотр', @meeting, class: "btn" %>
  <% else %>
    <%= f.submit "Добавить", class: "btn" %>
  <% end %>
<% end %>
