<div id="show-meeting">

	<div class="lawyer">
	  <h4>Назначенный адвокат:</h4>
	  <p><%= @meeting.user || "Нет" %></p>
	</div>
	<div class="dop-info">
	  <h4>Дополнительная информация:</h4>
	  <p><%= @meeting.content %></p>
	</div>


	<div class="actions">
		<% if can? :request, @meeting and !current_user.admin? %>
		    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post, class: "make-request entypo-user-add" %> |
		<% end %>
		<% if can? :manage, :all %>
			<%= link_to 'Изменить', edit_meeting_path(@meeting), class: "edit entypo-pencil" %>
			<%= link_to 'Снять адвоката с дежурства', request_meeting_path(RequestMeeting.where(user_id: @meeting.user, meeting_id: @meeting).first) if @meeting.user.present? %>

		<% end %>
	</div>
</div>
