<% if @meeting.errors.any? -%>
  /*Hide the flash notice div*/
  $("#flash_notice").hide(300);

  /*Update the html of the div post_errors with the new one*/
  $("#meeting_errors").html("<%= escape_javascript(error_messages_for(@meeting))%>");

  /*Show the div post_errors*/
  $("#meeting_errors").show(300);
<% else -%>
  /*Hide the div post_errors*/
  $("#meeting_errors").hide(300);

  /*Update the html of the div flash_notice with the new one*/
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");
  /*Show the flash_notice div*/
  $("#flash_notice").show(300);
  $("#modal-window").modal('hide');
  // $("#cell_<%= @meeting.will_be_on.strftime('%d_%m_%Y') %> a").remove();
  // $("#cell_<%= @meeting.will_be_on.strftime('%d_%m_%Y') %> ").append(' <%= link_to raw("<div class=\"day\">#{@meeting.will_be_on.strftime("%d")}</div>Судебное заседание #{@meeting.will_be_at.try { |d| d.strftime('%H:%M')} }"), @meeting, class: "meeting-link"+" "+ (@meeting.user.nil? ? "avaible" : "not_avaible" ), :target => "_blank" %>')
  // $("#cell_<%= @meeting.will_be_on.strftime('%d_%m_%Y') %>").parent().addClass("avaible");
<% end -%>