
<div id="meetings">
    <h3>Календарь заседаний: <%= @domain.name %></h3>
  <h2 id="month">
    <%= link_to "< #{ russian_month @date.prev_month.strftime('%m')}", domain_meetings_path(@domain, date:@date.prev_month), class: 'prev-month' %>
      <span class="month-name"><%= russian_month @date.strftime("%m") %> <%= Russian::strftime @date,"%Y" %></span>
    <%= link_to "#{ russian_month @date.next_month.strftime('%m')} >",domain_meetings_path(@domain, date: @date.next_month), class: 'next-month'  %>
  </h2>
    <%= calendar @date, @meetings_by_date  do |date| %>
      <%= content_tag :span, id: "cell_#{date.strftime('%d_%m_%Y')}", class: ("meeting" if @meetings_by_date[date.to_date]) do %>
        <%# if @meetings_by_date[date.to_date] == nil #and date>=Date.today %>
             <% if can? :manage, :all %>
                     <% if date >= Date.today %>
                               <%= link_to raw("<div class='day'>#{date.day}</div>"), day_domain_meetings_path(@domain, @meeting, date: date), class: 'meeting-link ',:target => "_blank" %>
                               
                      <%= link_to raw("<i class='icon-plus'></i> Добавить"), new_domain_meeting_path(@domain,meeting: { will_be_on: date }), class: "add-meeting meeting-link",remote: true, data: {toggle: 'modal', target: '#modal-window'}  %>

                              

                     <% else %>
                      <a href='#' class="pasttimes add-meeting"><div class='day'><%= date.day %></div><i class='icon-plus'></i> Добавить</a>
                     <% end %>
             <% else %>
     
                                              <%= link_to raw("<div class='day'>#{date.day}</div>"), day_domain_meetings_path(@domain, @meeting, date: date), class: 'meeting-link ',:target => "_blank" %>
        
             <% end %>
        <%# end %>
        

        <%# if @meetings_by_date[date.to_date] %>
          <%# @meetings_by_date[date].each do |meeting| %>
            <%# link_to raw("<div class='day'>#{date.day}</div>Судебное заседание #{meeting.will_be_at.try { |d| d.strftime('%H:%M')} }"), meeting, class: 'meeting-link ' + (meeting.user.nil? ? "avaible" : "not_avaible" ), :target => "_blank" %>
          <%# end %>
        <%# end %>

        
      <% end %>
    <% end %>
</div>

<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
      <div id="flash_notice" style="display:none"></div>
  </div>
  <div class="modal-body center">
    </div>
  <div class="modal-footer">&nbsp;</div>
</div>

<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), calendar_domain_meetings_path(params[:domain_id]), class: 'actions' %>



