
<div id="meetings">
    <h2>Календарь судебных заседаний. Учреждение: <%= @domain.name %></h2>
  <h2 id="month">
    <%= link_to "< #{ Russian::strftime @date.prev_month, '%b'}", nil, class: 'prev-month', date: @date.prev_month %>
      <%= russian_month @date.strftime("%m") %> <%= Russian::strftime @date,"%Y" %>
    <%= link_to "#{ Russian::strftime @date.next_month, '%b'} >", nil, class: 'next-month', date: @date.next_month %>
  </h2>
    <%= calendar @date do |date| %>
      <%= content_tag :span, id: "cell_#{date.strftime('%d_%m_%Y')}", class: "date-cell" do%>
        <div class="day"><%= date.day %></div>
        <% if can? :manage, :all and @meetings_by_date[date.to_date] == nil #and date>=Date.today %>
        <% if date>=Date.today %>
          <%= link_to raw("<i class='icon-plus'></i> Добавить"), new_domain_meeting_path(@domain,meeting: { will_be_on: date }), class: "add-meeting",remote: true, data: {toggle: 'modal', target: '#modal-window'}  %>
        <% else %>
         <a href='#' class="pasttimes add-meeting"><i class='icon-plus'></i> Добавить</a>
         <% end %>
        <% end %>

        <% if @meetings_by_date[date.to_date] %>
          <% @meetings_by_date[date].each do |meeting| %>
            <%= link_to "Судебное заседание #{meeting.will_be_at.try { |d| d.strftime('%H:%M')} }", meeting, class: (meeting.user.nil? ? "avaible" : "not_avaible" ), :target => "_blank" %>
            <% if meeting.user  %>
              <i class="icon-user"></i> <%= meeting.user if can? :manage, :all %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
<% if can? :manage, :all %>
  <%# link_to raw("<i class='icon-plus-sign'></i>Добавить дежурство на произвольную дату"), new_domain_meeting_path(@domain),remote: true, class: "add-meeting-any-date",data: {toggle: 'modal', target: '#modal-window'} %>
<% end %>

<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
      <div id="flash_notice" style="display:none"></div>
  </div>
  <div class="modal-body center">
    </div>
  <div class="modal-footer">&nbsp;</div>
</div>


