<h1>Заседания</h1>
<div id="meetings">
    
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= Russian::strftime @date,"%d %B %Y" %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if can? :manage, :all %>
            <%= link_to "Добавить", new_meeting_path(meeting: { will_be_on: date }), class: "add-meeting entypo-plus" %>
        <% end %>
        
        <% if @meetings_by_date[date.to_date] %>
              <dl class="meeting-details">
                <% @meetings_by_date[date].each do |meeting| %>
                  <dt><%= link_to "Заседание", meeting, class: (meeting.user.nil? ? "avaible" : "not_avaible" )%></dt>
                  <% if meeting.user  %>
                      <dd class="entypo-user"><%= meeting.user if can? :manage, :all %></dd>
                  <% end %>
                <% end %>
              </dl>
        <% end %>
    <% end %>
</div>
<% if can? :manage, :all %>
<%= link_to "Добавить заседание", new_meeting_path, class: "btn" %>
<% end %>