<h1>Совещания</h1>
<div id="meetings">
    
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @meetings_by_date[date.to_date] %>
              <ul>
                <% @meetings_by_date[date].each do |meeting| %>
                <li>ok</li>
                  <li><%= link_to meeting.title, meeting %></li>
                <% end %>
              </ul>
            <% end %>
    <% end %>
</div>
<%= link_to "Добавить совещание", new_meeting_path %>