
<div id="meetings">
  <%= Russian::l Time.now, format: "%a, %d %B %Y %R" %> 
    <h2 id="month">
      <%= link_to "<#{ Russian::strftime @date.prev_month, '%b'}", date: @date.prev_month %>
      <%= Russian::strftime @date,"%d %B %Y" %>
      <%= link_to "#{ Russian::strftime @date.next_month, '%b'} >", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
      <%= content_tag :span, id: "cell_#{date}" do%>
        <span class="day"><%= date.day %></span>
        <% if can? :manage, :all and @meetings_by_date[date.to_date] == nil and date>=Date.today %>
          <%= link_to raw("<i class='icon-plus'></i>Добавить"), new_domain_meeting_path(@domain,meeting: { will_be_on: date }), class: "add-meeting",remote: true, data: {toggle: 'modal', target: '#modal-window'}  %>
        <% end %>
        <dl class="meeting-details">
        <% if @meetings_by_date[date.to_date] %>
              
                <% @meetings_by_date[date].each do |meeting| %>
                  <dt><%= link_to "Судебное заседание #{meeting.will_be_at.try { |d| d.strftime('%H:%M')} }", meeting, class: (meeting.user.nil? ? "avaible" : "not_avaible" ) ,remote: true, data: {toggle: 'modal', target: '#modal-window'} %></dt>
                  <% if meeting.user  %>
                    <dd><i class="icon-user"></i> <%= meeting.user if can? :manage, :all %></dd>
                  <% end %>
                <% end %>
        <% end %>
        </dl>
      <% end %>
    <% end %>
</div>
<% if can? :manage, :all %>
  <%# link_to raw("<i class='icon-plus-sign'></i>Добавить дежурство на произвольную дату"), new_domain_meeting_path(@domain),remote: true, class: "add-meeting-any-date",data: {toggle: 'modal', target: '#modal-window'} %>
<% end %>

<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
      <div id="flash_notice" style="display:none"></div>
  </div>
  <div class="modal-body center">
    </div>
  <div class="modal-footer">&nbsp;</div>
</div>


