<div id="show-meeting">
	<h3><%=  Russian::strftime @meeting.will_be_on, "%d %B %Y" %></h3>

	<div class="lawyer">
	  <h4>Назначенный адвокат:</h4>
	  <p><%= @meeting.user || "Нет" %></p>
	</div>
	<div class="info">
	  <h4>Дополнительная информация:</h4>
	  <p><%= @meeting.content %></p>
	</div>


	<div class="actions">
		<% if can? :request, @meeting and !current_user.admin? %>
		    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post, class: "make-request entypo-user-add" %> |
		<% end %>
		<% if can? :manage, :all %>

			| <%= link_to 'Изменить', edit_meeting_path(@meeting), class: "" %>
		<% end %>
	</div>
</div>
