<div id="show-meeting">
	<h3><%=  Russian::strftime @meeting.will_be_on, "%d %B %Y" %></h3>

	<div class="info">
	  <h4>Дополнительная информация:</h4>
	  <p><%= @meeting.content %></p>
	</div>

	<div class="lawyer">
	  <h4>Назначенный адвокат:</h4>
	  <p><%= @meeting.user%></p>
	</div>

	<div class="actions">
<<<<<<< HEAD
		<% if can? :request, @meeting and !current_user.admin? %>
		    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post, class: "make-request entypo-user-add" unless current_user.admin? %>
=======
		<% if can? :request, @meeting %>
		    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post, class: "btn make-request entypo-user-add" %>
>>>>>>> 1a15c4fd15f783b1fed0f9c6bd64ff202cd1262f
		<% end %>
		<% if can? :manage, :all %>
			| <%= link_to 'Изменить', edit_meeting_path(@meeting), class: "btn edit entypo-pencil" %>
		<% end %>
	</div>
	<%= link_to 'Назад', meetings_path, class: "btn back entypo-left-open-big" %>
</div>
