<p>
  <b>Тема:</b>
  <%= @meeting.title %>
</p>

<p>
  <b>Дополнительная информация:</b>
  <%= @meeting.content %>
</p>

<p>
  <b>Дата:</b>
  <%= @meeting.will_be_on %>
</p>

<p>
  <b>Назначенный адвокат:</b>
  <%= @meeting.user %>
</p>

<% if can? :manage, :all %>
<%= link_to 'Изменить', edit_meeting_path(@meeting) %> |
<% end %>
<% if can? :request, @meeting %>
    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post %>
<% end %>
<%= link_to 'Back', meetings_path %>
