<div id="show-meeting">
	<h1>Судебное заседание</h1>
	<div class="content-left">
		<table class="list-table table table-bordered">
			<tr>
				<td class="title">Дата проведения:</td>
				<td><%= "#{@meeting.will_be_on} #{ @meeting.will_be_at.strftime('%R')}" %></td>
			</tr>
			<tr>
				<td class="title">Место проведения:</td>
				<td><%= "#{@meeting.domain.name}" %></td>
			</tr>
			<tr>
				<td class="title">Судья:</td>
				<td><%= @meeting.judge.present? ? @meeting.judge : "Не указан" %></td>
			</tr>
			<tr>
				<td class="title">Клиент:</td>
				<td><%= @meeting.client.present? ? @meeting.client : "Не указан" %></td>
			</tr>
			<tr>
				<td class="title">Назначенный адвокат:</td>
				<td><%= @meeting.user.try(:fio) ? @meeting.user.try(:fio) : "Нет" %> <br>
		          <% if @meeting.user.present? %>Реестровый номер: <%= @meeting.user.try :register_number %><% end %>
      			</td>
			</tr>
			<tr>
				<td class="title">Дополнительная информация:</td>
				<td><%= @meeting.content.present? ? @meeting.content : "Нет" %></td>
			</tr>
			<tr>
				<td class="title">Заседание добавлено:</td>
				<td><%= @meeting.created_at %></td>
			</tr>
		</table>
    </div>

    
    <% if current_user.admin? && !@meeting.request_meetings.empty?  %>
    <div class="content-right">
	    <h4>На заседание записались:</h4>
	    <ul class="unstyled">
	        <% @meeting.request_meetings.each do |request_meeting| %>
	        <li>
	           <%= link_to request_meeting.user, request_meeting.user %> 
               <%= request_meeting.created_at %> 
				<div style="text-align: right;">
	           <%= link_to 'Снять адвоката с дежурства', cancel_request_meeting_path(request_meeting), method: :post, class: "button entypo-cancel-circled" %>
	           <%= link_to 'Подтвердить', approve_request_meeting_path(request_meeting), method: :post, class: "button entypo-check" %>
	           </div>
	        </li>
	        <% end %>
	    </ul>
    </div>
    <% end %>


	<div class="actions">
		<% if can? :request, @meeting and !current_user.admin? %>
		    <%= link_to 'Подать заявку', request_for_meeting_path, method: :post, class: "button make-request entypo-user-add" %>
		<% end %>
		<% if can? :manage, :all %>
    		<%= link_to 'Отменить', @meeting, method: :delete, class: "button entypo-pencil" %>            
			<%= link_to 'Изменить', edit_meeting_path(@meeting), class: "button entypo-pencil" %>
			<%= link_to 'Снять адвоката с дежурства', request_meeting_path(RequestMeeting.where(user_id: @meeting.user, meeting_id: @meeting).first) if @meeting.user.present? %>

		<% end %>
	</div>
</div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), domain_meetings_path(@meeting.domain), class: 'actions' %>
