<!-- <h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %> -->


<div class="login-form">

<%= form_for(resource, :as => resource_name, html: { class: "form-signin form-horizontal"}, :url => registration_path(resource_name)) do |f| %>
        <!-- <h2 class="form-signin-heading">Информационная система</h2> -->
  <div class="control-group">
    <label class="control-label" for="user[email]">Электронная почта</label>
    <div class="controls">
    	<%= f.email_field :email, :autofocus => true, class: "input-block-level" %>
    </div>
	</div>
  <div class="control-group">
    <label class="control-label" for="user[password]">Реестровый номер </label>
    <div class="controls">
        78/<%= f.email_field :register_number, :autofocus => true, class: "input-block-level" %>
    </div>
  </div>
  
	  <%= f.submit "Подать заявку на доступ к системе", class: "button login-button" %>
<% end %>


</div>

