<%= form_for(@request_meeting) do |f| %>
  <% if @request_meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_meeting.errors.count, "error") %> ошибок не позволило создать заявку:</h2>

      <ul>
      <% @request_meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=  @request_meeting.meeting %>
    <%= f.hidden_field :meeting_id %>
  </div>
  <div class="actions">
    <%= f.submit "Подать заявку" %>
  </div>
<% end %>
