<h1>Заявка на заседания</h1>

<table>
  <tr>
    <th>Адвокат</th>
    <th>Заседание</th>
    <th>Статус</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_meetings.each do |request_meeting| %>
  <tr>
    <td><%= request_meeting.user %></td>
    <td><%= request_meeting.meeting %></td>
    <td><%= status request_meeting.status %></td>
    <td><%= link_to 'Подробнее', request_meeting %></td>
    <% if can? :manage, :all %>
        <td><%= link_to 'Подтвердить', approve_request_meeting_path(request_meeting), method: :post %></td>
        <td><%= link_to 'Отменить', cancel_request_meeting_path(request_meeting), method: :post %></td>
        <td><%= link_to 'Исправить', edit_request_meeting_path(request_meeting) %></td>
    <% end %>
  </tr>
<% end %>
</table>