<h3>Заявки на заседания</h3>
<h4><%= @domain.try :name %></h4>

<table id="show-meeting-requests" class="table table-bordered">
  <thead>
    <tr>
      <th>№</th>
      <th>Дата заседания</th>
      <% if current_user.admin? %>
      <th>Адвокат</th>
      <% end %>
      <th>Дата заявки</th>
      <th>Статус</th>
      <% if can? :manage, :all %>
      <th>Адм. функции</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

<% @request_meetings.each_with_index do |request_meeting, i| %>
  <tr>
      <td><%= i+1 %></td>
      <td><%= link_to request_meeting.meeting.will_be_on, request_meeting.meeting  %></td>
      
      
      <% if current_user.admin? %>
          <td><%= link_to request_meeting.user.fio, request_meeting.user  %></td>
      <% end %>
      <td><%= request_meeting.meeting.will_be_on.strftime("%d.%m.%Y") %></td>
      <td class="status"><%= status request_meeting.status %></td>
      <td class="actions">

        <%= link_to raw('Подробнее'), request_meeting, class: "" %><br>
        <% if can? :manage, :all %>
          <%= link_to 'Отменить', cancel_request_meeting_path(request_meeting), method: :post, class: "" %><br>
         <% end %>
      <% if can? :manage, :all and request_meeting.status != 2%>
        <%= link_to 'Подтвердить', approve_request_meeting_path(request_meeting), method: :post, class: "" %>
      <% end %>
      </td>
    </tr>

<% end %>
  </tbody>
  <% if can? :manage, :all %>
      <tfoot>
          <tr>
              <th rowspan="2">Поисковая система</th>
              <th rowspan="2">Дата заседания</th>
              <th rowspan="2">Поиск по ФИО</th>
          </tr>
          <tr>
              <th colspan="3"></th>
          </tr>
      </tfoot>
  <% end %>
</table>
<p id="periodFilter"></p>

<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), root_path, class: 'actions' %>

