<h1>Заявка на заседания</h1>

<table id="show-meeting-requests">
  <thead>
    <tr>
      <th>Адвокат</th>
      <th>Заседание</th>
      <th>Статус</th>
      <% if can? :manage, :all %>
      <th></th>
      <% end %>
    </tr>
  </thead>
<% @request_meetings.each do |request_meeting| %>
  <tbody>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= request_meeting.user %></td>
      <td><%= request_meeting.meeting %></td>
      <td><%= status request_meeting.status %></td>
      <td class="actions">
        <%= link_to 'Подробнее', request_meeting, class: "read-more entypo-doc-text" %>
      <% if can? :manage, :all and request_meeting.status != 2%>
        | <%= link_to 'Подтвердить', approve_request_meeting_path(request_meeting), method: :post, class: "approve entypo-check" %>
        | <%= link_to 'Отменить', cancel_request_meeting_path(request_meeting), method: :post, class: "cancel entypo-cancel-circled" %>
        | <%= link_to 'Исправить', edit_request_meeting_path(request_meeting), class: "edit entypo-pencil" %>
      <% end %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>