<h1>Заявки на заседания</h1>
<h2><%= @domain.try :name %></h2>

<table id="show-meeting-requests" class="table">
  <thead>
    <tr>
      <th>Дата заявки</th>
      <% if current_user.admin? %>
      <th>Адвокат</th>
      <% end %>
      <th>Заседание</th>
      <th>Статус</th>
      <% if can? :manage, :all %>
      <th>Адм. функции</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

<% @request_meetings.each do |request_meeting| %>
  <tr>
      <td><%= request_meeting.meeting.will_be_on.strftime("%d.%m.%Y") %></td>
      <% if current_user.admin? %>
          <td><%= link_to request_meeting.user, request_meeting.user  %></td>
      <% end %>
      <td><%= link_to request_meeting.meeting, request_meeting.meeting  %></td>
      <td class="status"><%= status request_meeting.status %></td>
      <td class="actions">
        <%= link_to raw('<i class="icon-align-justify"></i>Подробнее'), request_meeting, class: "read-more" %>
        <% if can? :manage, request_meeting %>
          <%= link_to 'Отменить', cancel_request_meeting_path(request_meeting), method: :post, class: "cancel entypo-cancel-circled" %>
         <% end %>
      <% if can? :manage, :all and request_meeting.status != 2%>
        <%= link_to 'Подтвердить', approve_request_meeting_path(request_meeting), method: :post, class: "approve entypo-check" %>
      <% end %>
      </td>
    </tr>

<% end %>
  </tbody>
</table>
