<p id="notice"><%= notice %></p>

<p>
  <b>Адвокат:</b>
  <%= @request_meeting.user %>
</p>

<p>
  <b>Совещание:</b>
  <%= link_to @request_meeting.meeting, @request_meeting.meeting %>
</p>

<p>
  <b>Статус:</b>
  <%= status @request_meeting.status %>
</p>

<%= link_to 'Back', request_meetings_path %>
