<%= simple_form_for @user, html: {id: "invite"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> ошибок не позволило создать пользователя:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :fio, "Ф.И.О" %>
  <%= f.text_field :fio %>
  <% if can? :manage, :all %>
    <%= f.label :phone, "Телефон (Формат: 79210000000)" %>
    <div class="input-prepend">
      <span class="add-on">+</span>
      <%= f.telephone_field :phone, class:"form-control" %>
    </div>
    <%= f.input :register_number, label: "Номер реестра" %>
  <% end %>
  <%= f.input :email, label: "Почта" %>
  <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.to_s.titleize}, :label => false, :item_wrapper_class => 'inline', checked: @user.role_ids.first %>
  
  <div class="actions">
    <%= f.submit "Добавить" %>
  </div>
<% end %>
