<%= simple_form_for @user, html: {id: "invite"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> ошибок не позволило создать пользователя:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="content-two">
      <% if params[:abilities].present? %>
          <%= f.input :role_ids, :collection => Role.where(resource_type: nil), :as => :radio_buttons, :label_method => lambda {|t| t.to_s.titleize}, :label => false, :item_wrapper_class => 'inline', checked: @user.role_ids.first %>
      <% else %>
  	<%= f.input :avatar, label: "Фото" %>
    <%= f.input :lastname, label: "Фамилия" %>
    <%= f.input :firstname, label: "Имя" %>
    <%= f.input :secondname, label: "Отчество" %>

    <% if can? :manage, :all %>
      <div class="input phone">
        <%= f.label :phone, "Телефон (Формат: 79210000000)", class: "phone-label" %>
        <%= f.telephone_field :phone, class:"form-control" %>
      </div>
      <%= f.input :register_number, label: "Реестровый номер" %>
    <% end %>
    <%= f.input :email, label: "Почта" %>
    <%= f.input :start_access, label: "Дата включения в базовый список", as: :string, input_html: { class: "datepicker" }%>
    <%= f.input :end_access, label: "Дата исключения из базового списка", as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :attorney_formation, label: "Наименование адвокатского образования" %>
    <%= f.input :attorney_consult, label: "Наименование адвокатской консультации" %>
    <% end %>
    </div>
    
    <% if params[:abilities].present? %>
    
    <div class="content-two content-omega">
      <p>Утвердить возможность участия в заседаниях суда по следующим учреждениям:</p>
      <% Domain.all.each do |domain| -%>
        <div class="user-domain">
          <%= check_box_tag  "domain[#{domain.id}]", 1, @user.roles.any? {|role| role.resource_id == domain.id}%>
          <%= label_tag "domain_#{domain.id}", domain.name %> <br>
          <%= text_field_tag "roles[#{domain.id}][start]",nil, class: "input-small" %>
          <%= text_field_tag "roles[#{domain.id}][end]",nil, class: "input-small" %>
        </div>
      <% end -%>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit "Добавить" %>
  </div>
<% end %>
