<h3>Административная панель</h3>
<h3>Базовый список адвокатов</h3>
<h4><%= @domain.try :name %></h4>

<table class="table table-bordered users-table">
  <thead>
  <tr>
	<th>№</th>
    <th>ФИО</th>
    <th>№ Реестра</th>
        <th>Дата включения</th>
        <th>Дата исключения</th>
    <th>Лимит заявок</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @users.each_with_index do |user, i| %>

  <tr class="<%= cycle("odd", "even") %>">
	<td><%= i+1 %></td>
    <td><%= link_to user.fio, user %></td>
    <td><%= user.register_number_with_region %></td>
    <% unless @domain %>
        <td><%= user.created_at.try { |s| s.strftime("%d.%m.%Y") } %></td>
        <td><%= user.end_access.try { |s| s.strftime("%d.%m.%Y") } %></td>
    <% else %>
        <td><%= user.start_access_to(@domain) %></td>
        <td><%= user.end_access_to(@domain) %></td>
    <% end %>
    
    <td><b id='edit-<%= user.id %>'>Изменить</b> <%= best_in_place user, :request_limit, activator: "#edit-#{ user.id }" %></td>
    <td><%= link_to "Редактировать", edit_user_path(user) if can? :manage, :all %>
        
    </td>
  </tr>
<% end %>
</tbody>
</table>
<%= paginate @users %>
<%= link_to raw('<i class="icon-user"></i> Добавить адвоката'), search_users_path, class: "button" if can? :manage, :all %>
