<h1>Адвокаты</h1>

<table id="user-list">
  <tr>
    <th>ФИО</th>
    <th>№ Реестра</th>
    <th>№ Телефона</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to user.fio, user %></td>
    <td><%= user.register_number %></td>
    <td><%= user.phone %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Добавить пользователя', new_user_path, class: "btn approve entypo-user-add" %>
