<h1>Адвокаты</h1>

<table class="table users-table">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>№ Реестра</th>
    <th>№ Телефона</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to user.fio, user %></td>
    <td><%= user.register_number %></td>
    <td><%= user.phone %></td>
    <td><%= link_to "Исключить", user_path(user),:confirm => 'Подтвердите исключение', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to 'Добавить адвоката', new_user_path, class: "btn approve entypo-user-add" %>
