<h3>Административная панель</h3>
<h3>Базовый список адвокатов</h3>
<h4><%= @domain.try :name %></h4>

<table class="table table-bordered users-table">
  <thead>
  <tr>
	<th></th>
    <th>ФИО</th>
    <th>№ Реестра</th>
    <% if @domain %>
        <th>Дата включения</th>
        <th>Дата исключения</th>
    <% end %>
    <th>Лимит заявок</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= user.roles.first %></td>
    <td><%= link_to user.fio, user %></td>
    <td><%= user.register_number %></td>
    <% if @domain %>
        <td><%= user.start_access %></td>
        <td><%= user.end_access %></td>
    <% end %>
    
    <td><b id='edit-<%= user.id %>'>Изменить</b> <%= best_in_place user, :request_limit, activator: "#edit-#{ user.id }" %></td>
    <td><%= link_to "Редактировать", edit_user_path(user) if can? :manage, :all %></td>
    <td><%= link_to "Исключить из системы", user_path(user),:confirm => 'Подтвердите исключение', :method => :delete if can? :manage, :all %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to raw('<i class="icon-user"></i> Добавить адвоката'), new_user_path, class: "button" if can? :manage, :all %>
