<h3>Управление полномочиями</h3>
<h4><%= @user.fio %></h4>
<%= simple_form_for @user, html: {id: "invite"} do |f| %>

<%= hidden_field_tag :request_for_access, params[:request_for_access] %>

<% unless @user.password.present? %>
<%= f.input :email, label: "Эл. почта" %>
<%= f.input :phone, label: "Мобильный телефон", wrapper_html: {class: "email"} %><br><br>
<% end %>
<%= f.label :role_ids, 'Роль в системе' %>
<%= f.input :role_ids, :collection => Role.where(resource_type: nil), :as => :radio_buttons, :label_method => lambda {|t| t.to_s.titleize}, :label => false, :item_wrapper_class => 'inline', checked: @user.role_ids.first %>

<div>
  <h4>Утвердить возможность участия в заседаниях суда по следующим учреждениям:</h4>
  <% Domain.all.each do |domain| -%>
        <% exists_role = @user.roles.bsearch {|role| role.resource_id == domain.id}  %>
        <div class="user-domain">
          <%= check_box_tag  "domain[#{domain.id}]", 1, @user.roles.any? {|role| role.resource_id == domain.id} %>
          <%= label_tag "domain_#{domain.id}", domain.name, style: "display: inline-block;" %>:

          <div style = "display: inline-block;">
              <div class="date-domain from">
              с <%= text_field_tag "roles[#{domain.id}][start]", "#{exists_role.start_date.try {|st| st.strftime('%d.%m.%Y')} if exists_role}",class: "input-small date-from  date_picker", style: "height: 20px;" %>
              </div>
              <div class="date-domain until"> по 
                <%= text_field_tag "roles[#{domain.id}][end]","#{exists_role.end_date.try {|st| st.strftime('%d.%m.%Y')} if exists_role}", class: "input-small date-to  date_picker", style: "height: 20px;" %></div></div>
        </div>
  <% end -%>
</div>


<%= f.submit "Готово" %>
<% end %>