<div class="row user">
	<div class="span2">
		<%= image_tag @user.avatar.thumb.url.to_s %>
	</div>
  <div class="span4">
    <dl>
      <dt><%= @user.roles.first %></dt><dd><%= @user.fio %></dd>
      <dt>Телефон:</dt><dd><%= number_to_phone @user.phone, area_code: true %></dd>
      <dt>Почта:</dt><dd><%= @user.email %></dd>
      <dt>Реестровый номер <dd><%= @user.register_number %></dd></dt>
      <dt>Дата включения в базовый список <dd><%= @user.start_access.present? ? @user.start_access.strftime("%d.%m.%Y") : "Не указана" %></dd></dt>
      <dt>Дата исключения из базового списка <dd><%= @user.end_access.present? ? @user.end_access.strftime("%d.%m.%Y") : "Не указана" %></dd></dt>
      <dt>Наименование адвокатского образования:</dt><dd><%= @user.attorney_formation %></dd>
      <dt>Наименование адвокатской консультации:</dt><dd><%= @user.attorney_consult %></dd>
      <dt>Подано заявлений (всего):</dt><dd><%= @user.request_meetings.count %></dd>
    </dl>
  </div>
  <div class="span6">
  <h3>Доступ открыт к следующим учреждениям:</h3>
  <ul>
    <% @user.roles.each do |role| %>
      <% if role.resource_type %>
        <li>
          <%= "#{role.resource_type.constantize.find(role.resource_id).try(:name)}" %> c <%= role.start_date.try { |d| d.strftime("%d.%m.%Y") } %> по <%= role.end_date.try { |d| d.strftime("%d.%m.%Y") } %>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
<div class="user">
		<%= render 'meetings/list_for_user' %>
</div>
<div class="actions">
    <%= link_to raw("<i class='icon-asterisk'></i> Выслать пароль"), generate_new_password_user_path(@user), method: :post if current_user.has_role? :admin %>
    <%= link_to raw("<i class='icon-asterisk'></i> Изменить пароль"), edit_user_registration_path if @user == current_user %>
	<%= link_to raw("<i class='icon-pencil'></i> Редактировать"), edit_user_path(@user) if can? :update, @user %> |
	<%= link_to raw("<i class='icon-chevron-left'></i> Назад"), users_path %>
</div>

