<div class="actions">
  ФИО: <%= @user.fio %><br>
  Телефон: <%= @user.phone %><br>
  <%= link_to "Изменить пароль", edit_user_registration_path if @user == current_user %>
	<%= link_to 'Редактировать', edit_user_path(@user), class: "btn edit entypo-pencil" %> |
	<%= link_to 'Назад', users_path, class: "btn back entypo-left-open-big" %>
</div>
