<div class="row user">
	<div class="span2">
		<%= image_tag @user.avatar.thumb.url.to_s %>
	</div>
  <div class="span4">
    <dl>
      <dt><%= @user.roles.first %></dt><dd><%= @user.fio %></dd>
      <dt>Телефон:</dt><dd><%= @user.phone %></dd>
      <dt>Почта:</dt><dd><%= @user.email %></dd>
      <dt>Наименование адвокатского образования:</dt><dd><%= @user.attorney_formation %></dd>
      <dt>Наименование адвокатской консультации:</dt><dd><%= @user.attorney_consult %></dd>
      <dt>Подано заявлений (всего):</dt><dd><%= @user.request_meetings.count %></dd>
    </dl>
  </div>
  <div class="span6">
  <h3>Доступ открыт к следующим ресурсам:</h3>
  <ul>
    <% @user.roles.each do |role| %>
      <% if role.resource_type %>
        <li>
          <%= "#{role.resource_type.constantize.find(role.resource_id).try(:name)}" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
<div class="actions">
  <%= link_to raw("<i class='icon-asterisk'></i> Изменить пароль"), edit_user_registration_path if @user == current_user %>
	<%= link_to raw("<i class='icon-pencil'></i> Редактировать"), edit_user_path(@user) if can? :update, @user %> |
	<%= link_to raw("<i class='icon-chevron-left'></i> Назад"), users_path %>
</div>

