<h3>Архив сообщений</h3>
<h4>
<% if params[:type] == 'input' %>
Входящие

<% elsif %>
Исходящие
<% end %>
</h4>
<table class="table table-bordered">
  <tr>
    <th width="18%">Получатель</th>
    <th>Отправитель</th>
    <th>Содержание сообщения</th>
    <th>СМС</th>
    <th>Эл.почта</th>
    <th>Дата отправки</th>
  </tr>

<% @inform_mails.each do |inform_mail| %>
  <tr>
    <td><div style="width: 280px"><p align=left><%= "#{inform_mail.user}" %>, <br>Email: <%= "#{inform_mail.user.email}" %><br>Телефон +<%= "#{number_to_phone inform_mail.user.phone, area_code: true}" %></p></div></td>
    <td><%= inform_mail.sender ? link_to("#{inform_mail.sender.try :fio}", inform_mail.sender) : "Информационная система" %></td>
    <td><%= inform_mail.body %></td>
    <td><%= inform_mail.sms ? "+" : "-" %></td>
    <td><%= inform_mail.email ? "+" : "-" %></td>
    
    <td><%= inform_mail.created_at %></td>
  </tr>
<% end %>
</table>

<br />

