<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @inform_mail.user %>
</p>

<p>
  <b>Body:</b>
  <%= @inform_mail.body %>
</p>


<%= link_to 'Edit', edit_inform_mail_path(@inform_mail) %> |
<%= link_to 'Back', inform_mails_path %>
