<h3>Административная панель</h3>
<div class="blocks">

  <div class="row-fluid well-menu">
    <div class="square">
      <%= link_to raw("<i class='icon-inbox'></i> Базовый список учреждений"), admin_index_domains_path %>                            
    </div>  


    
    <div class="square">
      <%= link_to raw("<i class='icon-user'></i> Адвокаты"), overview_users_path %>
    </div>
    <div class="square last">
      <%= link_to raw("<i class='icon-inbox'></i> Адвокатские образования"), attorney_formations_path %>                            
    </div>  
    
    <% if current_user.has_role? :manager %>
    <div class="square">
      <%= link_to raw("<i class='icon-cog'></i> Настройки"), admin_settings_path %>
    </div>
    <div class="square">
      <%= link_to raw("<i class='icon-cog'></i> Импорт данных"), importer_index_path %>
    </div>
    <% end %>
  </div>
          
</div>
<%= link_to link_to raw("<i class='icon-chevron-left'></i> Назад"), root_path, class: 'actions' %>
