<div class="blocks">

	<div class="row-fluid well-menu">
		<div class="square"><%= link_to raw("<i class='icon-inbox'></i> Ведомства и  учреждения"), domains_path %></div>
	  <% if current_user.try :admin? %>
		  <div class="square">
        <%= link_to raw("<i class='icon-question-sign'></i> Поступившие заявки на заседания"), request_meetings_path %>
      </div>
    <% else %>
  		<div class="square">
        <%= link_to raw("<i class='icon-question-sign'></i> Поданные заявки на заседания"), request_meetings_path %>
      </div>        
	  <% end %>
    <div class="square last">
      <%= link_to raw("<i class='icon-envelope'></i> Архив сообщений"), overview_inform_mails_path %>
    </div>  
	</div>
    <div class="row-fluid well-menu">
        <% if current_user.admin? %>
		  <div class="square">
        <%= link_to raw("<i class='icon-wrench'></i> Административная панель"), pages_panel_path %>
      </div>  
      <% end %>
    </div>
</div>