<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= f.label :name, "Наименование" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="input">
    <%= f.label :address, "Адрес" %><br />
    <%= f.text_area :address, cols: 40, rows:5 %>
  </div>
  <div class="input">
    <%= f.label :phone, "Телефон" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit "Готово" %>
  </div>
<% end %>
