<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input string">
    <%= f.label :name, "Наименование" %>
    <%= f.text_field :name %>
  </div>
  <div class="input string">
    <%= f.label :address, "Адрес" %>
    <%= f.text_area :address, cols: 40, rows:5 %>
  </div>
  <div class="input phone">
    <%= f.label :phone, "Телефон" %>
    <%= f.text_field :phone %>
  </div>
  <div class="input phone">
    <%= f.label :email, "Электронная почта" %>
    <%= f.text_field :email %>
  </div>
  <div class="input phone">
    <%= f.label :fio_major, "ФИО руководителя" %>
    <%= f.text_field :fio_major %>
  </div>
  <div class="input phone">
    <%= f.label :city, "Город" %>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
      <% if controller.action_name == 'new' %>
    <%= f.submit "Добавить" %>
    <% else %>
    <%= f.submit "Изменить" %>
    
    <% end %>
  </div>
<% end %>
