<div id="header">
	<div class="row">
		<div class="span8">
			<div class="logo"><a href="/"><%= image_tag 'logo.jpg' %></a></div>
			<div class="name-slogan">
				<h2 class="site-name"><a href="/">Адвокатская палата <em>Санкт-Петербурга</em></a></h2>
				<p class="site-slogan">Россия, 191025, Санкт- Петербург, Невский проспект, дом 53<br>
					тел.: (812) 713- 14- 03, факс (812) 713-15- 89</p>
			</div>
		</div>
		<div id="current-date" class="span3 offset1 hidden-phone">
			<p>текущее время и дата</p>
			<p class="date"><%= Russian::strftime DateTime.now, "%d %B %Y" %></p>
			<p class="time">
				<span class="hour"><%= Time.now.strftime "%H" %></span> : 
				<span class="minute"><%= Time.now.strftime "%M" %></span>
			</p>
		</div>
	</div>
</div>

<%= render_navigation :expand_all => true %>
