<!DOCTYPE html>
<html>
<head>
  <title>Адвокатская Палата Санкт-Петербурга | Информационная Система</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8" src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/i18n/jquery.ui.datepicker-ru.js">
      
  </script>
  <!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
    <%= render "layouts/header" %>
    <%= render_navigation :expand_all => true %>

		<section id="content">

			<%= yield %>
		</section>

		<!-- <aside id="sidebar-right" class="sidebar">
			<% render 'layouts/sidebar' %>
		</aside> -->
		
		<footer style='font-family: "Times New Roman", Times, serif; font-size: 14px'>
			<p class="copyright">
				<%= image_tag 'copyright.png', class: 'copyright-image' %> <a href="http://www.apspb.ru/" target="_blank" title="Адвокатская палата Санкт-Петербурга">Адвокатская палата Санкт-Петербурга</a><br>
				<%= image_tag 'copyright.png', class: 'copyright-image' %> <a href="http://www.dot-tech.ru" target="_blank" title="Dot Technology">ООО "ДОТ-тех"</a><br>
				<%= image_tag 'copyright.png', class: 'copyright-image' %> Савич А.С.
		</footer>
	</div>
</body>
</html>
