<!DOCTYPE html>
<html>
<head>
  <title>Календарь Заседаний Суда</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<header>
			<nav id="main-nav">
				<ul>
					<li><%= link_to "Адвокаты", users_path %></li>
					<li><%= link_to "Заседания", meetings_path %></li>
					<% if can? :manage, :all %>
					    <li><%= link_to "Заявки на заседания", request_meetings_path %></li>
					<% end %>
					<li>
					<% if user_signed_in? %>
						<%= link_to "Выход", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to "Войти", new_user_session_path %>
					<% end %>
					</li>
				</ul>
			</nav>
		</header>

		<section id="content">
			<% unless notice.nil? %>
	          <p class="messages status"><%= notice %></p>
	        <% end %>
	        <% unless alert.nil? %>
	          <p class="messages error"><%= alert %></p>
	        <% end %>

			<%= yield %>
		</section>

		<footer>
			<div class="copyright">
				&copy; <%= Time.now.strftime("%Y") %>
			</div>
		</footer>
	</div>
</body>
</html>
