<!DOCTYPE html>
<html>
<head>
  <title>Календарь Заседаний Суда</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<header>
			<nav id="main-nav">
				<ul>
          <li>
          <%= link_to "Профиль: #{current_user}", current_user %>
          </li>
        
					<li><%= nav_link "Заседания", meetings_path %></li>
					<li><%= nav_link "Заявки на заседания", request_meetings_path %></li>
          <% if can? :manage, :all %>
					  <li><%= nav_link "Адвокаты", users_path %></li>
          <% end %>
          <li>
					<% if user_signed_in? %>
						<%= link_to "Выход", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to "Войти", new_user_session_path %>
					<% end %>
					</li>
				</ul>
			</nav>
		</header>

		<section id="content">
			<% unless notice.nil? %>
	          <div class="alert alert-success">
	          	<button type="button" class="close" data-dismiss="alert">&times;</button>
	          	<%= notice %>
	          </div>
	        <% end %>
	        <% unless alert.nil? %>
	          <div class="alert alert-error">
	          	<button type="button" class="close" data-dismiss="alert">&times;</button>
	          	<%= alert %>
	          </div>
	        <% end %>

			<%= yield %>
		</section>

		<!-- <aside id="sidebar-right" class="sidebar">
			<% render 'layouts/sidebar' %>
		</aside> -->

		<footer>
			<div class="copyright">
				&copy; <%= Time.now.strftime("%Y") %>
			</div>
		</footer>
	</div>
</body>
</html>
